<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-cartao-credito-heading" jhiTranslate="bestMealApp.cartaoCredito.home.createOrEditLabel">Create or edit a Cartao Credito</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cartaoCredito.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="cartaoCredito.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bestMealApp.cartaoCredito.bandeira" for="field_bandeira">Bandeira</label>
                    <select class="form-control" name="bandeira" [(ngModel)]="cartaoCredito.bandeira" id="field_bandeira" >
                        <option value="MASTER">{{'bestMealApp.Bandeira.MASTER' | translate}}</option>
                        <option value="VISA">{{'bestMealApp.Bandeira.VISA' | translate}}</option>
                        <option value="ELO">{{'bestMealApp.Bandeira.ELO' | translate}}</option>
                        <option value="AMERICAN">{{'bestMealApp.Bandeira.AMERICAN' | translate}}</option>
                        <option value="DINNERS">{{'bestMealApp.Bandeira.DINNERS' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bestMealApp.cartaoCredito.numero" for="field_numero">Numero</label>
                    <input type="text" class="form-control" name="numero" id="field_numero"
                        [(ngModel)]="cartaoCredito.numero" />
                </div>




                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bestMealApp.cartaoCredito.cvv" for="field_cvv">CVV</label>
                    <input type="text" jhiCvvValidator  class="form-control" name="cvv" id="field_cvv"
                        [(ngModel)]="cartaoCredito.cvv" >
                        <div [hidden]="!(editForm.controls.cvv?.dirty && editForm.controls.cvv?.invalid)">
                                <small class="form-text text-danger"
                                [hidden]="!editForm.controls.cvv?.errors?.jhiCvvValidator" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                        </div>
                </div>


    




                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bestMealApp.cartaoCredito.validade" for="field_validade">Validade</label>
                    <input type="text" class="form-control" name="validade" id="field_validade"
                        [(ngModel)]="cartaoCredito.validade" required minlength="4" maxlength="4"/>
                    <div [hidden]="!(editForm.controls.validade?.dirty && editForm.controls.validade?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.validade?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.validade?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 4 }">
                        This field is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.validade?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4 }">
                        This field cannot be longer than 4 characters.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
